{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Edit User</h1>

    {{ include('admin/user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('list_user_admin') }}">back to list</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
